.vs
SquareSearchMain/obj
SquareSearchMain/bin
Logging/obj
MessageQueue/obj
Visitor/obj
Common/obj
Common/bin
Logging/bin
MessageQueue/bin
Visitor/bin
UrlExtractor/obj
UrlExtractor/bin
DbUrls/obj
DbUrls/bin
UrlQueuer/bin
UrlQueuer/obj
data
logs
Indexer/obj
Indexer/bin
