services:
  visitor:
    build:
      context: .
      dockerfile: ./Visitor/Dockerfile

  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: squaresearch
      POSTGRES_PASSWORD: squaresearchpw
      POSTGRES_DB: squaresearchdb
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  rabbitmq_data:
